<nav>
  <div class="logo-container">
    <h1 class="logo"><a href="/">ListIt!</a></h1>
  </div>
  <ul class="main-list">
    <li class="list"><a href="/login">Log in</a></li>
    <li class="list get-started"><a href="/register">Get Started for Free</a></li>
  </ul>
  <div class="hamburger">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</nav>
