<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title><%= pageTitle %></title>
</head>

<body>
    <div class="main--container">
        <header><%- include('./partials/header.ejs') %></header>

        <main>
            <div class="container main--intro">
                <div class="img-container">
                    <img src="./img/reminder.png" alt="">
                </div>
                <h1>Organize what you are going <span class="logo">To Do</span> <span class="text-rotation">today</span>!</h1>
            </div>
        </main>
    </div>

    <script src="/js/intro-get.js"></script>
</body>
</html>