<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <div class="main--container">
        <header><%- include('./partials/header.ejs') %></header>
        <main>
            <section class="main--intro">
                <div class="container">
                    <div class="hero--container">
                        <div class="intro">
                            <h1>A better online to-do list app for work</h1>
                            <p>ListIt! makes it easier to plan your work by using online <br /> to-do lists.</p>
                            <div class="intro__btn--container">
                                <button class="btn get-started"><a href="#">Get Started</a></button>
                                <button class="btn learn-more"><a href="#">Learn More</a></button>
                            </div>
                            <div class="intro__img--container">
                                <img src="/img/TODO.png" alt="To do picture">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    </body>

</html>