<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <ul class="nav">
            <li class="list">Home</li>
            <li class="list">About</li>
            <li class="list">Login</li>
        </ul>

        <div class="hamburger">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </div>
    </header>

    <main>
        <h1>Home Page</h1>
    </main>
</body>
</html>