@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-1);
}

:root {
  --fc-primary-1: #fffefe;

  --fc-accent-1: #ff5757;

  --hover-primary: #b41111;

  --bgc-primary-1: rgba(23,23,24,1);

  --ff-1: "Montserrat", serif;
}

/* ------------- GLOBAL CONFIG ------------- */

.header1 {
  font-size: 2rem;
}

.default-text {
  font-size: 1.25rem;
}

.main--container {
  max-width: 1920px;
  /* max-height: 1080px; */
  margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: var(--fc-primary-1);
}

.btn a {
  padding: .8rem 3rem;
  border-radius: 2rem;

  transition: .5s ease;
}


img {
  display: block;
  width: 100%;
}

h1 {
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  /* background-color: var(--bgc-primary-1);
  font-family: var(--ff-1); */

  background: rgb(23,18,102);
  background: linear-gradient(337deg, rgba(23,18,102,1) 0%, rgba(23,23,24,1) 35%);
  background-repeat: no-repeat;
}

section {
  height: 100vh;
}

section .container {
  padding-block: 5rem;
}

button {
  all: unset;
}

p {
  font-size: inherit;
}


@media (width <= 500px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

/* ------------- HEADINGS ------------- */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav.sticky {
  position: sticky;
}

.logo-container {
  color: var(--fc-accent-1);
  font-size: 2.5rem;
}

.main-list {
  display: flex;
  gap: 2rem;

  font-size: 1.25rem;
  color: var(--fc-primary-1);
} 

.list a {
  transition: .5s ease;
}

li:not(.get-started) a:hover {
  color: var(--fc-accent-1);
}

.get-started a {
 background-color: var(--fc-accent-1);
}

.get-started a:hover {
  background-color: var(--hover-primary);
} 

.hamburger {
  display: none;
  cursor: pointer;
}

.bars {
  height: 0.2rem;
  width: 1.7rem;
  margin-top: 0.5rem;
  background-color: var(--bgc-primary-1);
}

/* ------------- MAIN ------------- */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.intro h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.intro p {
  text-align: center;
  font-size: 1.25rem;
}

.intro__btn--container {
  display: flex;
  gap: 2rem;

  margin: 0 auto;
}

.learn-more a {
  border: 2px solid var(--fc-accent-1);
}

.learn-more a:hover {
  background-color: #b41111;
  border: 2px solid var(--hover-primary);
}

.intro__img--container img {
  max-width: 60%;
  height: auto;

  margin: 0 auto;
}

/* ------------- ABOUT ------------- */

.about {
  height: auto;
  background-color: rgba(23,23,24,1);
}

.about-head {
  margin-bottom: 3rem;
  text-align: center;
}

.about__item--container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 10rem;
  /* outline: 2px solid green; */
}

.item:nth-child(odd) {
  flex-direction: row-reverse;
}

.item .text--container  {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


/* ------------- LOGIN ------------- */
