:root {
    --fc-primary-1: #fffefe;

    --fc-accent-1: #ff5757;

    --hover-primary: #b41111;

    --bgc-primary-1: rgba(23, 23, 24, 1);

    --ff-1: "Montserrat", serif;
}

/* ------------- MAIN SECTION ------------- */

main {
    display: flex;
    padding:2rem;
}

aside {
    width: 30%;
}

aside,
.task,
.task-option {
    padding: 1rem;
    outline: 2px solid green;
}

.aside-nav {
    display: block;
    padding: 1rem;
    height: 100%;
    border-radius: 1rem;
    background-color: #b8b8b8;
}

.list-container p {
    font-weight: bold;
}

.task-option {
    width: 40%;
}
.list-container {
    width: 100%;
}

.list-container p {
    margin-bottom: .5rem;
}

.list-container ul li {
    margin-left: .5rem;
    padding: .5rem;
}

.list-container ul li.active {
    background-color: gray;
}

.dashboard .container {
    color: var(--fc-accent-1);
    width: 95%;
    padding: 1rem;
    outline: 2px solid green;
}

.dashboard {
    width: 100%;
}

.dashboard--container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
