<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/styles-dashboard.css" />
    <title>
        <%= pageTitle %> | <%= user?.first_name %>
    </title>
</head>

<body>
    <div class="main--container">
        <header><%- include('../partials/header.ejs') %></header>
        <main>
            <section class="dashboard default-text">
                <div class="container dashboard--container">

                </div>
            </section>
        </main>
</body>

</html>