<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css" />
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <div class="main--container">
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <section class="login default-text">
        <div class="container login--container">
          <div class="img--container">
            <img src="/img/login.png" alt="login image">
          </div>
          <div class="container-form-login">
            <div class="container-secondary-login">
              <% if(locals.message) { %>
                <div class="alert alert-danger" role="alert">
                  <p>
                    <%= message.error ? message.error : message.success %>
                  </p>
                </div>
                <% } %>
                  <form action="/login" method="POST">
                    <div class="email--container separator-container">
                      <label for="emailAdd">Email address</label>
                      <input type="text" class="form-control" name="username" id="emailAdd" aria-describedby="emailHelp"
                        placeholder="Enter email or username">
                    </div>
                    <div class="password--container separator-container">
                      <label for=" userPass">Password</label>
                      <input type="password" class="form-control" name="password" id="userPass" placeholder="Password">
                    </div>
                    <button type="submit">Submit</button>
                  </form>
                  <div class="form--footer">
                    <p>Don't have an account? <a href="/register">Register here.</a></p>
                  </div>

            </div>
          </div>
        </div>
      </section>

    </main>
  </div>
</body>

</html>